
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


body {
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
   
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding: 20px;
    height: 100vh;
}

.card {
   max-width: 350px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Outfit', sans-serif;
    background-color: hsl(0, 0%, 100%);
    margin: auto;
    padding: 20px;
    
}

.qr-image {
    width: 100%;
    display: block;
    border-radius: 15px;
}
.title {
    font-size: 1.25rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin: 1.5rem 1.5rem 1rem 1.5rem;
}

.description {

    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin: 0 1.5rem 1.5rem 1.5rem;
    line-height: 1.5;
}

.page-footer {
    text-align: center;
    font-size: 0.75rem;
    color: hsl(228, 45%, 44%);
    padding: 8px;

}